@import "compass/css3/transition";

// component
$fc-border-color: transparent;
$fc-transition-speed: .5s;
$fc-item-width: 290px;


/* filmstrip widget */
/*
widget's parent container width must be calculated like this:
(width of .filmstripPrevious) + (width of .filmstripNext) +
N(width of .filmstripWindow > ul > li)
where N = the number of items on display at a time
*/
.filmstrip {
  position: relative;
  margin: 0 0 20px;
  border: 1px solid $fc-border-color;

  .filmstripWindow {
    overflow: hidden;
    *position: relative;

    ul {
      position: relative;
      left: 0;
      overflow: hidden;
      margin: 0 !important;
      padding: 0 !important;
      width: 10000px;
      list-style-type: none;
      white-space: nowrap;
      @include transition-property(left);
      @include transition-duration($fc-transition-speed);

      li {
        position: relative;
        display: block;
        float: left;
        padding: 5px 10px 0;
        width: $fc-item-width;
        white-space: normal;
      }

    }

  }

  .filmstripThumbnailHeader {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 14px;

    h4 {
      margin: 0 0 10px !important;
    }
  }

  .filmstripThumbnail {
    width: auto;

    img {
      margin: 0 0 10px;
      width: 270px;
      height: 80px;
    }
  }

  .filmstripThumbnailText {
    font-size: 12px;
    line-height: 1.6;

    p {
      margin: 0 0 5px !important;
    }

    .readMore {
      font-size: 14px;
    }

  }

  .filmstripControls {
    clear: both;
    margin: 10px 0 0;
    text-align: center;
  }

  .filmstripPrevious, .filmstripNext {
    display: inline-block;
    overflow: hidden;
    width: 11px;
    height: 18px;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    *text-indent: 0;
    *font-size: 0;
  }

  .filmstripPrevious {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAASCAYAAACNdSR1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNpi/P//PwMyMGu8ZACkzjNggodMWAQnMGAHBUxopgYAKXssCg+eqtfbwISkUACPqQkgAtnkAiCWx6KwEWjqA7hioKkKQKoem6eQbYOZvACXp4CmfoArJuQpZAEmfEGFLsDEQAJgwmYCrshhgrrrIBbF9lD/YDgjAZfp0MhCKIYGeiMWxfLIzmRCc+NDLBrqoZGGUAwNfFyeBUcaI5b0fABHJAUyERMZMGcCBBgAwII5XyuaXB4AAAAASUVORK5CYII=);

    &.disabled {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAASCAYAAACNdSR1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNpi/P//PwMyOH7iqAGQOs+ACR4yYRGcwIAdFDChmRoApOyxKDxoaWG9gQlJoQAeUxNABLLJBUAsj0VhI9DUB3DFQFMVgFQ9Nk8h2wYzeQEuTwFN/QBXTMhTyAJM+IIKXYCJgQTAhM0EXJHDBHXXQSyK7aH+wXBGAi7ToZGFUAwN9EYsiuWRncmE5saHWDTUQyMNoRga+Lg8C440Rizp+QCOSApkIiYyYM4ECDAAFAo69b+iA5cAAAAASUVORK5CYII=);
      cursor: default;
    }

    &:focus {
      background-color: transparent;
    }

  }

  .filmstripNext {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAASCAYAAACNdSR1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALtJREFUeNpiNG24+ICBgUGeARMYnqrXu4AswATEBQzYwQR0ASag7g1A+iAWxfZmjZcC0E0GgQRcpgM1CKAoBpoOcncjFsXyyM5kQnPjQywa6oGmK6AoBpr+AY9nF4AIxv///6OIAk05APIcFg2BTFgEcQYlEwMJgImYyIDZyITm3gAc7j0IijwmJIUCeExNQHdGAY4E1QiNNIhiaKDXY1H4ENk2JuRAx+YpaGRBFBPyFHrQ4QwqdAGAAAMAqE439pizWsYAAAAASUVORK5CYII=);

    &.disabled {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAASCAYAAACNdSR1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALtJREFUeNpiPHb8yAMGBgZ5BkxgaGlhfQFZgAmICxiwgwnoAkxA3RuA9EEsiu2PnzgagG4yCCTgMh2oQQBFMdB0kLsbsSiWR3YmE5obH2LRUA80XQFFMdD0D3g8uwBEMP7//x9FFGjKAZDnsGgIZMIiiDMomRhIAEzERAbMRiY09wbgcO9BUOQxISkUwGNqArozCnAkqEZopEEUQwO9HovCh8i2MSEHOjZPQSMLopiQp9CDDmdQoQsABBgA3m04wYRCMrsAAAAASUVORK5CYII=);
      cursor: default;
    }

    &:focus {
      background-color: transparent;
    }

  }

  &.filmstripNavigationOutside {

    &.filmstrip {
      padding: 0 40px;
    }

    .filmstripPrevious, .filmstripNext {
      position: absolute;
      top: 0;
      width: 40px;
      height: 220px;
      background-position: 50% 50%;
    }

    .filmstripPrevious {
      left: 0;
    }

    .filmstripNext {
      right: 0;
    }

  }


  &.filmstripNavigationInline {

    .filmstripNext {
      margin: 0 0 0 20px;
    }

    .filmstripPrevious {
      margin: 0 20px 0 0;
    }

  }

  .filmstripPagination {
    padding: 10px 0;
    text-align: center;
    *position: relative;
    *zoom: 1;
  }

  .filmstripPagination a {
    display: inline-block;
    overflow: hidden;
    margin: 0 6px;
    width: 11px;
    height: 11px;
    background-color: transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAYAAAB7/H1+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMRJREFUeNqUk7ENgzAURI1lZRZcZQGqjEDNErRJYTfJEmmpMwKVd8AlmyRn65AoAv4+6QTyf/8D5tx47xXVwT18gy28wDP8gUMCnHMZbF7hkP3eu8xqDh3gNzzCV/jC68j1YXs6hp6yrCvDN33ArfqvlvUVTUrCglsNP+kI3Df0u/sia7hPEkm5zBpuvkS2YrDV/KMSLTWsZkwkmmtYzZzGAhjJiVnN8D9PGiLrgeEvsokzXJhSTksnLwlNU8pp6eT9BBgALtNIryQ2si8AAAAASUVORK5CYII=);
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    *text-indent: 0;
    *font-size: 0;
    &.active {
      background-position: -11px 0;
      cursor: default;
    }
    &:focus {
      background-color: transparent;
    }
  }

  .filmstripNavigationCounter {
    color: #fff;
    background-color: #333;
    padding: 2px 4px;
    position: absolute;
    top: -10px;
    right: -20px;
  }

}