/* base */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

/* html5 display definitions */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
[hidden] { display: none; }

/* 'namespace' as much of normalize as possible due to embedded microsites */
#micrositeContainer { color: #000; font-family: sans-serif; }
#micrositeContainer h1, #micrositeContainer h2, #micrositeContainer h3, #micrositeContainer h4, #micrositeContainer h5, #micrositeContainer h6 { line-height: 1em; margin: 0 0 1em; padding: 0; }
#micrositeContainer p { margin: 0 0 1em; }
#micrositeContainer a { color: #007dba; text-decoration: none; }
#micrositeContainer a:hover { text-decoration: underline; }
#micrositeContainer a:focus { background-color: #eee; border: none; }
#micrositeContainer a:hover, #micrositeContainer a:active { outline: 0; }
#micrositeContainer b, #micrositeContainer strong { font-weight: bold; }
#micrositeContainer blockquote { margin: 1em 40px; }
#micrositeContainer hr { border-top: 1px solid #ccc; border: 0; display: block; height: 1px; margin: 1em 0; padding: 0; }
#micrositeContainer pre, #micrositeContainer code, #micrositeContainer kbd, #micrositeContainer samp { _font-family: 'courier new', monospace; font-family: monospace, serif; font-size: 1em; }
#micrositeContainer pre { white-space: pre-wrap; white-space: pre; word-wrap: break-word; }
#micrositeContainer small { font-size: 85%; }
#micrositeContainer sub, #micrositeContainer sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
#micrositeContainer sup { top: -0.5em; }
#micrositeContainer sub { bottom: -0.25em; }
#micrositeContainer ul, #micrositeContainer ol { margin: 1em 0; padding: 0 0 0 40px; }
#micrositeContainer dd { margin: 0 0 0 40px; }
#micrositeContainer nav ul, #micrositeContainer nav ol { list-style-image: none; list-style: none; margin: 0; padding: 0; }
#micrositeContainer img { -ms-interpolation-mode: bicubic; border: 0; vertical-align: middle; }
#micrositeContainer iframe { border: none; }
#micrositeContainer figure { margin: 0; }
#micrositeContainer table { border-collapse: collapse; border-spacing: 0; }
#micrositeContainer th #micrositeContainer td { vertical-align: top; }

/* layout selectors */
body { background-color: #000; }
#micrositeContainerCompress { background-color: #fff; margin: 0 auto; width: 980px; }
#micrositeContent { font-size: 80%; overflow: hidden; clear: both;  }
#micrositeContentColumnFull { margin: 15px 20px 25px; }
#micrositeContentColumnLeft { float: left; width: 620px; margin: 0 20px 0; }
#micrositeContentColumnRight { float: right; width: 300px; margin: 0 20px 0 0; }
.micrositeContentColumnSpan { clear: both; }

#micrositeHeader, #micrositeFooter, #micrositeContentColumnRight { background-color: #efefef; font-size: 25px; color: #666; padding: 25px; }
#micrositeHeader, #micrositeFooter { clear: both; margin: 0 0 25px; }
#micrositeFooter { margin: 25px 0 0; }
#micrositeContentColumnRight { background-color: #efefef; color: #666; height: 1000px; width: 250px; }



#micrositeContentFooter { margin: 0 20px; }
#micrositeContentColumnLeft .micrositeContentColumnSpan { margin: 0; }



#micrositeContentFooter h6, #micrositeContentColumnLeft h6 { clear: both; border: 1px solid #666; background-color: #333; display: block; font-weight: bold; font-size: 14px; padding: 10px !important; color: #fff; margin: 0 0 -15px !important; }

/*
.filmstripWindow > ul > li { border: 1px solid blue; }
.filmstrip { border: 1px solid pink; }
.filmstripControls { border: 1px solid green; height: 20px; }
.filmstripNavigationInline .filmstripControls { border: 1px solid maroon; }
.filmstripNavigationOutside .filmstripPrevious, .filmstripNavigationOutside .filmstripNext { background-color: red; }
*/






/* filmstrip widget */
/* widget's parent container width must be calculated like this: (width of .filmstripPrevious) + (width of .filmstripNext) + N(width of .filmstripWindow > ul > li) where N = the number of items on display at a time */
.filmstrip { position: relative; margin: 40px 0 20px; }
/*.filmstrip.filmstripNavigationHide { padding: 0; }*/
.filmstripWindow { overflow: hidden; *position: relative; }
.filmstripWindow > ul { list-style-type: none; margin: 0 !important; padding: 0 !important; white-space: nowrap; position: relative; left: 0; overflow: hidden; width: 10000px; }
.filmstripWindow > ul > li { display: block; float: left; padding: 5px 10px 0; position: relative; white-space: normal; width: 270px; }
.filmstripWindow > ul { -webkit-transition: left .5s; -moz-transition: left .5s; -ms-transition: left .5s; -o-transition: left .5s; transition: left .5s; }
.filmstripThumbnailHeader { color: #3580d1; font-size: 15px; font-weight: bold; margin: 0 0 5px; }
.filmstripThumbnail { width: auto; }
.filmstripThumbnail img { height: 80px; width: 270px; margin-bottom: 10px; }
.filmstripThumbnailText { font-size: 12px; line-height: 1.6; }
.filmstripThumbnailText p { margin: 0 0 5px !important; }
.filmstripThumbnailText .readMore { color: #3580d1; font-size: 14px; }

.filmstripControls { clear: both; margin: 10px 0 0; text-align: center; }
.filmstripPrevious, .filmstripNext { display: inline-block; height: 18px; width: 11px; white-space: nowrap; overflow: hidden; text-indent: 100%; *text-indent: 0; *font-size: 0; }
.filmstripPrevious { background: transparent url(../images/slideControlPreviousOn.png) no-repeat 0 0; }
.filmstripNext { background: transparent url(../images/slideControlNextOn.png) no-repeat 0 0; }
.filmstripPrevious.disabled { background-image: url(../images/slideControlPreviousOff.png); cursor: default; }
.filmstripNext.disabled { background-image: url(../images/slideControlNextOff.png); cursor: default; }
.filmstripPrevious:focus, .filmstripNext:focus { background-color: transparent; }

.filmstripNavigationOutside.filmstrip { padding: 0 40px; }
.filmstripNavigationOutside .filmstripPrevious, .filmstripNavigationOutside .filmstripNext { width: 40px; position: absolute; top: 0; height: 220px; background-position: 50% 50%; }
.filmstripNavigationOutside .filmstripPrevious { left: 0; }
.filmstripNavigationOutside .filmstripNext { right: 0; }

.filmstripNavigationInline .filmstripNext { margin: 0 0 0 20px; }
.filmstripNavigationInline .filmstripPrevious { margin: 0 20px 0 0; }



.filmstripPagination { text-align: center; padding: 10px 0; *position: relative; *zoom: 1; }
.filmstripPagination a { display: inline-block; margin: 0 6px; height: 11px; width: 11px; background: url(../images/slideControlPagination.png) no-repeat 0 0; white-space: nowrap; overflow: hidden; text-indent: 100%; *text-indent: 0; *font-size: 0; }
.filmstripPagination a.active { background-position: -11px 0; cursor: default; }
.filmstripPagination a:focus { background-color: transparent; }

#micrositeContentColumnLeft .filmstripThumbnail img { height: 60px; width: 200px; margin-bottom: 10px; }
#micrositeContentColumnLeft .filmstripWindow > ul > li {  width: 200px; padding: 0 10px 0 0; margin: 0; }

